FRONTEND_URL=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000
BACKEND_URL=http://localhost:8000

# PostgreSQL database URI scheme
# DATABASE_URL=postgresql://user:password@host:port/database

# Mail setup
# SMTP_HOST=
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASSWORD=

# Calendar
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
